<div class="containerp-2">
  <div class="row mb-4">
    <div class="col-md-10 col-lg-8 mx-auto ">
      <div class="card">
        <%= image_tag "top_image_s.jpg", class: "bd-placeholder-img bd-placeholder-img-lg card-img rounded shadow-lg" %>
        
        <div class="card-img-overlay d-flex">
          <%= flash[:alert] %>
          <p class="card-text align-self-center mx-auto font-weight-bold h5" id="top-text">
            <span class="text-white bg-dark">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
            </span>
          </p>


        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
  <h3 class="text-color text-center col-3 pt-2 pb-2 rounded-pill"><strong>新着商品</strong></h3>
  <div class="row">
    <% @items.last(4).reverse.each do |item| %>
      <div class="card-group">
          <div class ="card card border-light mb-3 ml-2 mr-2">
            <div class ="card-img-top">
              <%= link_to item_path(item.id) do %>
                <%= attachment_image_tag item,:image, size:"261x185", fallback: "no_image.jpg" %>
              <% end %>
            </div>

            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text">
                <% with_tax = item.with_tax_price %>
                  ¥<%= item.with_tax_price.to_s(:delimited) %>
              </p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <div>
    <p class="text-right">
     <%= link_to "全ての商品を見る>", items_path, class: "btn-primary font-weight-bold " %>
    </p>
  </div>
</div>
